body {
    background-color: #1a2b33;
    background-size: cover;
    background-attachment: fixed;
    margin: 2px;
}
/* Head */
.head {
    position: relative;
    border-bottom: 1px solid #ededed;
    -webkit-animation: intro 0.3s both;
    animation: intro 0.3s both;
    -webkit-animation-delay: 0.15s;
    animation-delay: 0.15s;
    z-index: 20;
}
.head_inner-wrap {
    max-width: 925px;
    margin-left: 2px;
    margin-right: auto;
    clear: both;
    padding: 1.8em 1.5em;
    font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;
}
/* nav */
.greedy-nav {
    position: relative;
    min-width: 250px;
    background: #1b2b33;
}
.greedy-nav button {
    position: absolute;
    height: 100%;
    right: 0;
    padding: 0 0.5rem;
    border: 0;
    outline: none;
    background-color: #1b2b33;
    color: #fff;
    cursor: pointer;
}
.greedy-nav .visible-links {
    display: table;
}
.greedy-nav .hidden-links {
    position: absolute;
    top: 100%;
    right: 0;
    margin-top: 15px;
    padding: 5px;
    border: 1px solid #ededed;
    border-radius: 4px;
    background: #1b2b33;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}
.greedy-nav .visible-links li {
    display: table-cell;
    vertical-align: middle;
    padding: 0 8px;
}
.greedy-nav .visible-links li:first-child {
    padding-right: 2rem;
}

.greedy-nav .visible-links li:first-child a {
    font-weight: bold;
}
.greedy-nav .visible-links a,
.greedy-nav .visible-links a:visited,
.greedy-nav .visible-links a:link {
    color: #fff !important;
    text-decoration: none;
    font-weight: normal;
    padding: 0.5rem 0.5rem;
    white-space: nowrap;
}
.hidden {
    display: none;
    visibility: hidden;
}
nav ul {
    margin: 0;
    padding: 0;
}
nav li {
    list-style: none;
}
.head_menu ul {
    margin: 0;
    padding: 0;
    clear: both;
    list-style-type: none;
}

.head_menu-item {
    display: block;
    list-style-type: none;
    white-space: nowrap;
}
li {
    display: list-item;
    unicode-bidi: isolate;
}
div {
    display: block;
    unicode-bidi: isolate;
}