body {
    background-color: #1a2b33;
    background-size: cover;
    background-attachment: fixed;
    margin: 2px;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: azure;
    text-align: center;
}
a:link {
    padding-right: 8px;
    color: azure;
    text-decoration: none;

    &:hover {
        color: aqua;
        text-decoration: underline;
    }
    &:active {
        color: white;
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        position: top ;
    }
}